
@import "reset";
@import "_init";


// 主要內容
*{
  font-family: 'Roboto', sans-serif;
  
}

@mixin circle($w,$h,$color:#000){
  border: 1px solid $color;
  border-radius: 100%;
  width: $w;
  height: $h;
}

@mixin size($w,$h){
  width: $w;
  height: $h;
}
@mixin text($font,$weight:normal){
  font-size: $font;
  font-weight: $weight;
}
body{
  max-width: 1280px;
  height: 800px;
  
  margin: 0 auto;
}

.content{
  width: 100%;
  height: 100%;
  font-size: 0px;
}
.main{
  width: 65%;
  height: 100%;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #000;
  display: inline-block;
  box-sizing: border-box;
  padding: 48px 85px;
  background-color: #FFEDF7;
  position: relative;
  & input,{
    @include size(445px,56px);
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color:#FF4384;
    margin-bottom: 145px;
    &::placeholder{
      color: #FF4384;
    }
  }
  .time{
    display: inline-block;
    .circle--medium{
      @include circle(48px,48px);
      display: inline-block;
      margin-right: 16px;
      
    }
    p{
      display: inline-block;
      vertical-align: top;
      @include text(24px,bold);
      .circle--tiny{
        @include circle(12px,12px);
        display: block;
      }
    }
    
  }
  .ticking{
    @include text(176px,bold);
    // border: 1px solid #000;
    color:#FF4384;
    margin: 0 0 110px 0;
    line-height: 1;
  }
}
  .chartCircle{
    @include size(540px,540px);
    position: absolute;
    top: 160px;
    left: 560px;
    z-index: 5;
    .around{
      fill: none;
      stroke: #FF4384;
      stroke-width: 0.8;
    }
    .center{
      fill: #FF4384;
    }
    .heart{
      fill: #FFEDF7;
    }
    polyline{
      fill: #FF4384;
    }
    rect{
      fill: #fff;
    }
}
.menu{
  width: 35%;
  height: 100%;
  border: 1px solid #000;
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  background-color: #003164;
  padding: 48px 85px;;
  position: absolute;
  top: 0;
  ul{
    position: flex;
    li{
      display: flex;
      color: #fff;
      font-size: 30px;
      margin-bottom: 48px;
      justify-content: flex-end;
    }
    p{
      writing-mode: vertical-lr;
      font-size: 24px;
      font-weight: bold;
      color: #fff;
      letter-spacing: 2px;
      margin-top: 287px;
    }
  }
  
  p{
    float: right;
  }
}

//layout
.flex{
  display: flex;
  @include size(1280px,800px);
  flex-direction: row;
  background-color: #003164;
  padding: 48px 85px 0;
  box-sizing: border-box;
  
  &__left{
    display: flex;
    position: relative;
    flex: 2;
    font-size: 36px;
    font-weight: bold;
    overflow: hidden;
    color:  rgba(255,255,255,0.2);
    .nav{
      display: inline-block;
      
      li{
        margin-bottom: 42px;
        i{
          margin-right: 8px;
        }
      }  
      .clock{
        position: absolute;
        width: 350px;
        height: 350px;
        bottom: -175px;
        border-radius: 100%;
        background-color:#FFEDF7;
        .chartCircle--small{
          @include size(100px,100px);
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          polyline{
            fill: #fff;
          }
        }
        
        p{
          text-align: center;
          
        }
        .clock__ticking{
          transform: translateY(-75%);
          color: #FF4384;
          font-size: 64px;
          line-height: 1;
        }
        .clock__intro{
          font-size: 16px;
          color: #000;
          transform: translateY(-175%);
        }
      }
    }  
  }
  &__middle{
    display: flex;
    flex-direction: column;
    flex: 2;
    input{
      &::placeholder{
        color:#FF4384;
      }
      font-weight: bold;
      font-size: 16px;
      width: 445px;
      padding: 19px 16px;
      color: #FF4384;
      align-self: flex-start;
      box-sizing: border-box;
      margin-bottom: 48px;
    }
    ul{
      color: #fff;
      margin-bottom: 48px;
      .list{
        border-bottom: 1px solid rgba(255,255,255,0.2);
        .circle--small{
          border: 1px solid #fff;
        }
      }
    }
    
    
  }
  &__right{
    display: flex;
    flex: 1;
    .flex__right__container{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      width: 256px;
      li{
        display: flex;
        color: #fff;
        font-size: 48px;
      }
      i{
        margin-bottom: 491px;
      }
      p{
        writing-mode: vertical-lr;
        font-size: 24px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 2px;
        
      }
    }
  }
}
ul{
  width: 445px;
  .list,{
    border-bottom: 1px solid rgba(0,49,100,0.2);
    padding: 9px 0;
    display: flex;
    .circle--small{
      @include circle(24px,24px);
      display: inline-block;
      vertical-align:top;
    }
    &__text{
      display: inline-block;
      margin-left: 4px;
      width: calc(100% - 24px - 12px);
      text-align: left;
    }
    .fa-play-circle-o{
      display: inline-block;
      margin-top: 3px;
    }
  }
  .add{
    text-align: right;
  }
}
.title{
  padding: 8px 16px;
  box-sizing: border-box;
  background-color: rgba(255,255,255,0.2);
  
  &__text{
    width: calc(100% - 24px);
    display: inline-block;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  span{
    font-size: 16px;
    padding-left: 100px;
  }
}
.focustime{
  ul{
    font-size: 0;
    li{
      font-size: 16px;
      font-weight: bold;
      display: inline-block;
      width: 50%;
      box-sizing: border-box;
      padding-top: 16px;
      .number{
        font-size: 64px;
        color: #FF4384;
        span{
          font-size:16px;
          color: rgba(255,255,255,0.2)
        }
      }
    }
  }
}
.barGraph{
  width: 460px;
  height: 280px;
  stroke: #fff;
  rect{
    stroke: none;
    fill: #fff;
  }
  text{
    font-weight: 100;
  }
  rect:hover{
    fill: #FF4384;
  }
}